@model SurveyApp.Models.UserQuestion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<br />


<Button onclick="showUQs()">Add Custom Questions</Button>
<h3>Click the button to add Custon Questions:</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>UserQuestion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SurveyId, "SurveyId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SurveyId", (SelectList)ViewBag.SurveyIDList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SurveyId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <label>UserDefined</label>
    <P>
        <!--THE CONTAINER TO HOLD THE DYNAMICALLY CREATED ELEMENTS.-->
        <div id="repeat"></div>
    </P>
    <label>PreDefined</label>
        <p>
            <Button onclick="showPQs();return false;">Add Pre-defined Questions</Button>
            <Button onclick="hidePQs();return false;">Clear Pre-defined Questions</Button>
            <div id=PreDefined style="display: none;">
                paste the view here of details with checkboxes of details
            </div>
        </p>



    <div id=UserDefined style="display: none;">
        <button id="btAdd" onclick="AddElement();return false;">+</button>
        <br>Please add your question in the textboxes along with the types drom dropdown list.
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <script>

        function showUQs() {
            var div = document.getElementById("UserDefined");
            div.style.display = "block"
        }
        function hideUQs() {
            var div = document.getElementById("UserDefined");
            div.style.display = "none"
        }
        function showPQs() {
            var div = document.getElementById("PreDefined");
            div.style.display = "block";
        }
        function hidePQs() {
            var div = document.getElementById("PreDefined");
            div.style.display = "none";
        }

        function AddElement() {
            this.Counter = ++this.Counter || 1;    // COUNTER TO SET ELEMENT IDs.
            var para = document.createElement("p");
            var x = document.createElement("input");
            x.setAttribute("type", "text");
            x.setAttribute("class", "btn dropdown - toggle");
            x.setAttribute("name", "Question" + this.Counter)
            para.appendChild(x);
            //to create drop down list
            var div = document.querySelector("#repeat");
            frag = document.createDocumentFragment();

            select = document.createElement("select");
            select.setAttribute("name", "type" + this.Counter);
            select.options.add(new Option("Binary", "Binary", true, true));
            select.options.add(new Option("Rating", "Rating"));
            select.options.add(new Option("Comment", "Comment"));


            frag.appendChild(select);
            div.appendChild(frag)
            var element = document.getElementById("repeat");
            element.appendChild(para);
        }
    </script>





}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
