@model SurveyApp.Models.UserQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.survey.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.survey.SurveyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyQuesNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyQuesNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UQuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
