@model IEnumerable<SurveyApp.Models.UserQuestion>

@{
    ViewBag.Title = "Survey";
    string name = ViewBag.Name.ToString();
    int sId = ViewBag.Surveyid;
    int i = 0;
    string ans;
}

<!DOCTYPE html>

<html>
<head>
   
    <title>TakeSurvey</title>
    <h2> Take Survey </h2>
    <br />
   @* <h1>@name</h1>*@
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            i++;
            <p> @i.ToString() &nbsp; @item.Question.ToString() </p>


            <p onload="determineType">
                <div id="type">@item.Type.ToString()</div>
                <div id="autogenerate">
                    <label>Answer:</label>
                </div>
            </p>

        }
        <script>
            function determineType() {
                var item = document.getElementById("type");
                item.style.display = "none";
                var itemdata = document.getElementById("type").textContent;
                console.log("function reacehd")
                if ("Comment" == itemdata) { MakeTextBox() }
                if ("Binary" == itemdata) { MakeBinary() }
                if ("Rating" == itemdata) { Rating() }
            }
            function MakeTextBox() {// text feild here
                var para = document.createElement("p");
                var x = document.createElement("input");
                x.setAttribute("type", "text");
                x.setAttribute("name", "Question");
                para.appendChild(x);
                var element = document.getElementById("autogenerate");
                element.appendChild(para);
            }
            function MakeBinary() {// it should create a positive or negative button
                var div = document.querySelector("#autogenerate");
                frag = document.createDocumentFragment()
                select = document.createElement("select");
                select.setAttribute("name", "type")
                select.options.add(new Option("Positive", "Positive", true, true));
                select.options.add(new Option("Negative", "Negative"));
                frag.appendChild(select);
                div.appendChild(frag)
            }
            function Rating() {
                // it should create a 1-5 rating drop down list
                alert("The heigher the number the better and vice versa.")
                var div = document.querySelector("#autogenerate");
                frag = document.createDocumentFragment()
                select = document.createElement("select");
                select.setAttribute("name", "type")
                select.options.add(new Option("1", "1", true, true));
                select.options.add(new Option("2", "2"));
                select.options.add(new Option("3", "3"));
                select.options.add(new Option("4", "4"));
                select.options.add(new Option("5", "5"));
                frag.appendChild(select);
                div.appendChild(frag)
            }
        </script>
        <input type="submit" value="Submit" />
    }


    <div>
        <br />

        @Html.ActionLink("Back to List", "SurveyList", "Surveys")
    </div>
</body>
</html>
