@model IEnumerable<SurveyApp.Models.UserQuestion>

@{
    ViewBag.Title = "Survey";
    string name = ViewBag.Name.ToString();
    int sId = ViewBag.Surveyid;
    int i = 0;
}

<!DOCTYPE html>

<html>
<head>
   
    <title>TakeSurvey</title>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.Hidden("sId", sId)

        foreach (var item in Model)
        {
            i++;
            <p> @i.ToString() &nbsp; @item.Question.ToString() </p>
            <div id="type-@i">@item.Type.ToString()</div>
            <div id="autogenerate-@i">
                <label>Answer:</label>
            </div>
            <br>
        }

        <input type="submit" value="Submit" />
    }


    <div>
        <br />
        @Html.ActionLink("Back to List", "SurveyList", "Surveys")
    </div>
    <script>
        var rep = @i;
        while (rep >0) {
            determineType(rep);
            rep--;
        }
        function determineType(param) {
            var item = document.getElementById("type-"+param);
            item.style.display = "none";
            var itemdata = document.getElementById("type-" + param).textContent;
            console.log("function reacehd")
            if ("Comment" == itemdata) { MakeTextBox(param) }
            if ("Binary" == itemdata) { MakeBinary(param) }
            if ("Rating" == itemdata) { Rating(param) }
        }
        function MakeTextBox(id) {// text feild here
            var para = document.createElement("p");
            var x = document.createElement("input");
            x.setAttribute("type", "text");
            x.setAttribute("name", "Ans"+id);
            para.appendChild(x);
            var element = document.getElementById("autogenerate-"+id);
            element.appendChild(para);
        }
        function MakeBinary(id) {// it should create a positive or negative button
            var div = document.querySelector("#autogenerate-"+id);
            frag = document.createDocumentFragment()
            select = document.createElement("select");
            select.setAttribute("name", "Ans" + id)
            select.options.add(new Option("Positive", "Positive", true, true));
            select.options.add(new Option("Negative", "Negative"));
            frag.appendChild(select);
            div.appendChild(frag)
        }
        function Rating(id) {
            // it should create a 1-5 rating drop down list
            alert("The heigher the number the better and vice versa.")
            var div = document.querySelector("#autogenerate-"+id);
            frag = document.createDocumentFragment()
            select = document.createElement("select");
            select.setAttribute("name", "Ans" + id)
            select.options.add(new Option("1", "1", true, true));
            select.options.add(new Option("2", "2"));
            select.options.add(new Option("3", "3"));
            select.options.add(new Option("4", "4"));
            select.options.add(new Option("5", "5"));
            frag.appendChild(select);
            div.appendChild(frag)
        }
    </script>
</body>
</html>
