@model SurveyApp.Models.SurveyCandidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyCandidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survey.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.SurveyName)
        </dd>

        <dt>
            @Html.Label("Survey status:")
        </dt>

        <dd>
            @if (Model.SurveyQuesNo == 0)
            {
                @Html.Label("Not started")
            }
            @if (Model.SurveyQuesNo > 0)
            {
                @Html.Label("Completed till Question:" + Model.SurveyQuesNo)
              @*  @Html.DisplayFor(model => model.SurveyQuesNo) *@
            }

        </dd>


        

    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    @Html.ActionLink("Back to List", "Index")
</p>
