<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SURVECTION</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SURVECTION", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    @*Only Super Admin should be able to see this option-to add admin*@

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Add Admin", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }

                    @*Only superadmin can add organization*@

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Organization", "Index", "Organizations", routeValues: null, htmlAttributes: new { id = "createOrganizationsLink" })</li>
                    }

                    @*Only superadmin can add category*@


                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Question Category", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "createCategoriesLink" })</li>
                    }

                    @*Only superadmin can update question bank*@


                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Quesion Bank", "Index", "QuestionBanks", routeValues: null, htmlAttributes: new { id = "createQuesBankLink" })</li>
                    }

                    @*Only admin can add candidate*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add Candidate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "createCandidatesLink" })</li>
                    }

                    @*Only admin can add survey*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey", "Create", "Surveys", routeValues: null, htmlAttributes: new { id = "createSurveysLink" })</li>
                    }

                    @*Only admin can add UserQuestion*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey Questions", "Create", "UserQuestions", routeValues: null, htmlAttributes: new { id = "createUserQuestion" })</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey Candidates", "Index", "SurveyCandidates", routeValues: null, htmlAttributes: new { id = "surveyCandidates" })</li>
                    }

                    @if (User.IsInRole("Candidate"))
                    {
                        <li>@Html.ActionLink("Survey List", "SurveyList", "Surveys", routeValues: null, htmlAttributes: new { id = "createSurveysLink" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
