<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SURVECTION</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.modernizr.custom.js")"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jszip.min.js"></script>
    <script src="~/Scripts/js/cultures/kendo.culture.es-MX.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
</head>

<body id="particles-js">
    <div class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("SURVECTION", "Index", "Home", new { area = "" }, new { @class = "navbar-brand large" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    @*Only Super Admin should be able to see this option-to add admin*@

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Add Admin", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }

                    @*Only superadmin can add organization*@

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Organization", "Index", "Organizations", routeValues: null, htmlAttributes: new { id = "createOrganizationsLink" })</li>
                    }

                    @*Only superadmin can add category*@


                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Question Category", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "createCategoriesLink" })</li>
                    }

                    @*Only superadmin can update question bank*@


                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Quesion Bank", "Index", "QuestionBanks", routeValues: null, htmlAttributes: new { id = "createQuesBankLink" })</li>
                    }

                    @*Only admin can add candidate*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add Candidate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "createCandidatesLink" })</li>
                    }

                    @*Only admin can add survey*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey", "Create", "Surveys", routeValues: null, htmlAttributes: new { id = "createSurveysLink" })</li>
                    }

                    @*Only admin can add UserQuestion*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey Questions", "Create", "UserQuestions", routeValues: null, htmlAttributes: new { id = "createUserQuestion" })</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Survey Candidates", "Index", "SurveyCandidates", routeValues: null, htmlAttributes: new { id = "surveyCandidates" })</li>
                    }

                    @if (User.IsInRole("Candidate"))
                    {
                        <li>@Html.ActionLink("Survey List", "SurveyList", "Surveys", routeValues: null, htmlAttributes: new { id = "createSurveysLink" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Survey App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
